<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Обо мне</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Гузенко Павел Петрович родился 14 октября 1977 в г.Коростень Житомирской области, где и начал постигать
                азы искусства в Детской Художественной Школе, по окончании которой Павла учили живописи, в
                Государственной Художественной Средней Школе имени Тараса Григорьевича Шевченко, ведущие преподаватели
                Национальной академии изобразительного искусства и архитектуры Украины.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                С 1995 пребывал в творческом поиске, занимался архитектурой и дизайном, а начиная с 2006 года -
                сосредоточился на живописи, с каждым годом достигая все новых высот в творчестве, свидетелями чего
                являются многие соотечественники и ценители смелого письма в России, Китая, Германии, США, Канады,
                Турции и др. Сам он - христианин, ныне работает и проживает с семьей в пригороде столицы Украины.
            </p>
        </div>
    </div>
</section>